
.games{
    background-image: url('./games.jpg');
    background-size: 100%;
    margin-top: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}
.games label{
    font-size: 50px;
    font-style: italic;
    color: rgb(77, 6, 6);
}
.games a{
    color: rgb(3, 12, 37);
    font-size: 40px;
    font-family: cursive;
}
.games li{
    list-style: none;
    padding-left: 3%;
}
.ins{
    background-color: darkseagreen;
    border-radius: 4px;
    padding: 2% 2%;
}
.ins li{
    list-style: circle;
    font-size: 30px;
}
.ins p{
    font-size: 30px;
}
.ins h2,th{
    font-size: 40px;
}
.ins th,td{
    width: 3%;
    padding:1% 10%;
    border:dashed;
}